#!/bin/sh
exec tail -n +3 $0
# This file provides an easy way to add custom menu entries.

{% if custom_boot_entries %}
{% for entry in custom_boot_entries %}
menuentry "{{ entry.name }}" {
    search --no-floppy --fs-uuid --set=root {{ entry.uuid }}
    linux /vmlinuz-linux root=UUID={{ entry.uuid }}
    initrd /initramfs-linux.img
}
{% endfor %}
{% endif %}
